html {
  font-family: playfair;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: auto;
  display: table;
  background-color: #3C4F76;
}
html, body {
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#historyBox {
  height:50%;
  width:auto;
  overflow:auto;
  border:8px solid gray;
  padding:2%"
}
#clearHistory {
  float: right;
}